@import '../../assets/Scss/variables.scss';

.container {
    width: 100%;
    margin-top: 10rem;
    text-align: center;
    font-size: 2rem;
}

.logbook {
    margin-bottom: 3rem;
    font-size: 8rem;
    font-weight: 800;
    color: $primary; 
}