@import '../../assets/Scss/variables.scss';

.container {
  display: flex;
  align-items: center;
  width: 100%;
  height: calc(100% - 4.375rem);
  background: $primary;
  box-shadow: inset 3px 4px 5px $main-blue-hover;
}

.messageBox {
  width: 450px;
  height: 160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
}
