.close {
  position: absolute;
  display: block;
  right: 20px;
  top: 20px;
  width: 40px;
  height: 40px;
  opacity: 0.7;
  border-radius: 50%;
  border: 3px solid #333;
  background-color: #fff;
}

.close:hover {
  opacity: 1;
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 20px;
  width: 3px;
  background-color: #333;
}

.close:before {
  transform: rotate(45deg);
  margin-top: -10px;
  border-radius: 10%;
}

.close:after {
  transform: rotate(-45deg);
  margin-top: -10px;
}
