.input {
  width: 100% !important;
  height: 50px !important;
  border-radius: 50px !important;
  padding-left: 20px !important;
  color: rgb(150, 147, 147) !important;
}

.input::placeholder {
  color: rgb(150, 147, 147) !important;
}
