.tableContainer {
  max-width: 90%;
  margin: 0 auto;
  padding: 40px;

  .flexBlock {
    padding-left: 42px;
  }

  .btnBlock {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-around;
  }

  .tableRow {
    vertical-align: middle;
  }
}
