.tableContainer {
    max-width: 90%;
    margin: 0 auto;
    padding: 40px;
    @media only screen and (max-width: 1024px) {
        max-width: 100%;
    }
}
.flexBlock {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.btnBlock {
    display: flex;
    justify-content: space-around;
}
.tableRow {
    vertical-align: middle;
}