.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.box__avatar__text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
  padding: 10px;
}

.avatar {
  display: flex;
  flex-direction: column;
  margin-right: 130px;
  padding: 10px;

  @media (max-width: 1100px) {
    margin-right: 80px;
  }

  @media (max-width: 768px) {
    margin-right: 30px;
  }

  @media (max-width: 568px) {
    margin-right: 30px;
  }
}

p {
  margin-top: 20px;
}

.btn__change__pass {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(350px, 0);
  -webkit-transform: translate(350px, 0);

  @media (max-width: 1100px) {
    transform: translate(100px, 0);
    -webkit-transform: translate(100px, 0);
  }

  @media (max-width: 768px) {
    transform: translate(50px, 0);
    -webkit-transform: translate(50px, 0);
  }

  @media (max-width: 568px) {
    margin-top: 40px;
    transform: translate(0px, 0);
    -webkit-transform: translate(0px, 0);
  }
}
