.sidebar {
  height: 100vh;
  width: 20rem;
  position: sticky;
  top: 0;
  padding: 0;
  background-color: #4e73df;
  color: #fff;
  font-size: 18px;
  @media only screen and (max-width: 768px) {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 20rem;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .35s;
  }
}
.sidebarActive {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 6rem;
  font-size: 14px;
}
.sidebarLi {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  height: auto;
  width: 100%;
  height: 70px;
  opacity: 0.7;
  align-self: flex-start;
  cursor: pointer;
  &:hover {
    opacity: 1;
    color: #fff;
  }
}
.sidebarLiActive {
  flex-direction: column;
  justify-content: center;
}
.sidebarLi:hover {
  background-color: #4667c8;
}
.iconLi {
  padding-right: 20px;
}
.iconLiActive {
  padding-right: 0px;
}
.roleBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 1rem;
  .roleText {
    padding-left: 20px;
    font-size: 25px;
    margin-bottom: 0;
  }
}
.horizonLine {
  width: 80%;
  margin: 0 auto;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}
.sidebarArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  & svg {
    cursor: pointer;
    opacity: 0.6;
  }
  & svg:hover {
    opacity: 1;
  }
}
.sidebarArrowActive {
  transform: rotate(180deg);
}
.menuToggle {
  visibility: visible;
  width: 100%;
  left: 0;
  z-index: 30;
}
