@import '../../assets/scss/variables.scss';

$white: #fff !default;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.375rem;
  width: 100%;
  padding: 0.5rem 1rem;
  text-align: left;
  color: $secondary;
  background-color: $white;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
}

.authHeader {
  height: auto;
}

.authHeader:hover,
.dropdownItem:hover,
.signIn {
  cursor: pointer;
}

.avatar {
  height: 2.8rem;
  width: 2.8rem;
  border-radius: 50%;
  vertical-align: middle;
  border-style: none;
}

.dropdownList {
  position: relative;
  z-index: 1000;
  min-width: 10rem;
  padding: 0.5rem 0;
  color: #858796;
  text-align: left;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e3e6f0;
  border-radius: 0.35rem;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
}

.dropdownItem {
  width: 100%;
  height: 40px;
  padding: 0.8rem 2rem;
  font-weight: 400;
  color: #3a3b45;
}

.dropdownItem:hover {
  background-color: #eee;
}

.imgProfile {
  height: 16px;
  margin-right: 15px;
  vertical-align: text-top;
}

.signIn {
  margin-right: 30px;
  font-size: 2rem;
  font-weight: 800;
}

.dropdownDivider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #eaecf4;
}
.headerBurger {
}
@media only screen and (max-width: 768px) {
  .menuBtn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 6px;
    left: 8px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 100;
  }

  .menuBtn > span,
  .menuBtn > span::before,
  .menuBtn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: 0.25s;
  }
  .menuBtn > span::before {
    content: '';
    top: -8px;
  }
  .menuBtn > span::after {
    content: '';
    top: 8px;
  }
}
.menuToggle {
  opacity: 0;
}
.bgBurger > span,
.bgBurger > span::before,
.bgBurger > span::after {
  background-color: #fff;
}
.menuToggleActive ~ .menuBtn > span {
  transform: rotate(45deg);
}
.menuToggleActive ~ .menuBtn > span::before {
  top: 0;
  transform: rotate(0);
}
.menuToggleActive ~ .menuBtn > span::after {
  top: 0;
  transform: rotate(90deg);
}
