@import '../../assets/Scss/variables.scss';

$white: #fff !default;

.navbar {
  display: flex;
  justify-content: flex-end;
  height: 4.375rem;
  width: 100%;
  padding: 0.5rem 1rem;
  font-family: 'Nunito', sans-serif;
  text-align: left;
  color: $secondary;
  background-color: $white;
  box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}
.navbarAuth {
  margin-top: 6px;
}

.authHeader {
  height: auto;
}

.authHeader:hover, .dropdownItem:hover, .signIn {
  cursor: pointer;
}

.avatar {
  height: 2.8rem;
  width: 2.8rem;
  border-radius: 50%;
  vertical-align: middle;
  border-style: none;
}

.dropdownList {
  position: relative;
  z-index: 1000;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: .9rem 0 0;
  color: #858796;
  text-align: left;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e3e6f0;
  border-radius: 0.35rem;
  box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}

.dropdownItem {
  width: 100%;
  padding: 1rem 1.5rem;
  font-weight: 400;
  color: #3a3b45;
}

.dropdownItem:hover {
  background-color: #eee;
}

.imgProfile {
  margin-right: 15px;
}

.signIn {
  margin-right: 30px;
  font-size: 2rem;
  font-weight: 800;
}

.dropdownDivider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #eaecf4;
}